@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://www.dekra.com.br/lincesvpposto/laudo/pda/") {

*{font-size: 20px;
  text-align: center;}  
  
  a,input {
    font-size: 20px;
  }
  
  input{
    min-height: 80px;
    min-width: 150px;
    text-align: center;
  }
  
  table{
    width: 100%;
  }
  
TABLE.A{
  width: 100%;
}

TABLE.B{
  width: 100%;
}

  TD.D{
    font-size: 40px;
  }
  
}
